{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container mt-3">
    <h3 class="text-info text-center">Log in to your account</h3>
    <div class="row">
    <div class="offset-3"></div>
    <div class="col-6">
        <form method="post" action="{% url 'users:login' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Log In</button>
            {% endbuttons %}
        <input type="hidden" name="next"
        value="{% url 'learning_logs:index' %}"/>
        </form>
    </div>
    <div class="offset-3"></div>
    </div>
    </div>
{% endblock content %}