<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
    <h4>
        <a href="{% url 'learning_logs:index' %}">Learning Log</a>
    </h4>
    <h4>
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </h4>
    {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'users:logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Log In</a>
    {% endif %}
{% block content %}{% endblock content %}
</body>
</html>