{%  extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
    <h4 class="text-primary mt-3">Topics</h4>
    <div class="list-group">
        <a href="{% url 'learning_logs:new_topic' %}" class="list-group-item list-group-item-action active">
        Add a new topic
        </a>
    </div>
    {% for topic in topics %}
      <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item list-group-item-action">{{ topic }}</a>
    {% empty %}
        <li class="font-weight-bold text-info">No Topics have been added yet</li>
    {% endfor %}
    </div>
{% endblock %}